* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #4B4B4D 0%, #848688 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-image {
    height: 180px; 
    width: auto; 
    max-width: 100%; 
    object-fit: contain; 
    margin-bottom: 2rem;
    
    background-color: #ffffff; 
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.buttons-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-primary {
    background: #E33439;
    color: white;
}

.btn-primary:hover {
    background: #E1101A;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.btn-secondary {
    background: #4ecdc4;
    color: white;
}

.btn-secondary:hover {
    background: #45b7aa;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.btn-tertiary {
    background: #28a745;
    color: white;
}

.btn-tertiary:hover {
    background: #218838; 
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(40, 167, 69, 0.4); 
}

.botao-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
}

.botao-voltar:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 2rem;
    }
    
    .buttons-container {
        flex-direction: column;
        align-items: center;
    }
    
    .btn {
        width: 250px;
    }
}
